.ant-carousel .slick-slide {
    text-align: center;
    height: 608px;
    line-height: 160px;
    background:white;
    overflow: hidden;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .pink{
    background:#d7f7f5;
    height: 608px;
  }

  .new{
    font-size: 60px;
    text-align: right;
    color:#142d4c;
  }

  .icon{
    color: #fff;
    size: 20px;
    float:right;
  }

  .gambar{
    padding-left: 250px;
    padding-top: 100px;
  }

  .cheer{
    font-size: 50px;
    color: #142d4c;
  }

  .even{
    font-size: 20px;
  
  }