.ant-carousel .slick-slide {
    text-align: center;
    height: 608px;
    line-height: 160px;
    background: url("https://images.wallpaperscraft.com/image/headphones_minimalism_pastel_122007_3840x2400.jpg");
    overflow: hidden;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .pink{
    background:#e41749;
    height: 608px;
  }

  .new{
    font-size: 60px;
    text-align: right;
    color: #fff;
  }